@import 'spacing';
@import 'typography';
@import 'colors';
@import 'layout';

// Border radius
$br-sm: 0.25rem;
$br-md: 0.5rem;
$br-lg: 0.75rem;
$br-xl: 1rem;

// Extend
%component-size {
    height: 3rem;
    width: 100%;
}

%component-elements {
    border-radius: $br-sm;
    font-family: inherit;
    font-size: inherit; 
}

%input-elements {
    background-color: $grey50;
    border: none;
    padding: 0 $sp-4;
    text-align: right;
    caret-color: $green400;
}

// Content
main {
    background-color: $white;
    border-top-left-radius: $sp-5;
    border-top-right-radius: $sp-5;
    padding: $sp-5;
    display: flex;
    flex-direction: row;
}

h1 {
    color: $green900;
    font-size: $fs-xl;
    letter-spacing: $sp-3;
    padding: $sp-6;
    text-align: center;
}

.label-heading {
    color: $grey500;
    font-size: $fs-sm;
}

#calculator { gap: $sp-4; }
#input-container { gap: $sp-5; padding: $sp-2; }

// INPUT FIELDS
.input-field {
    display: inline-block;
    position: relative;
    width: 100%
}

.input-field svg {
    left: $sp-5;
    pointer-events: none;
    position: absolute;
    top: 30%;
    transform: translate(-50%);
}

input {
    @extend %component-elements;
    @extend %component-size;
    @extend %input-elements;
}

input::placeholder { color: $grey400; }
input:focus { outline: none; border: 0.1rem solid $green400}
input.invalid {
    border: 0.1rem solid red;
}

// Buttons
#grid-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $sp-4;
    padding: $sp-1 $sp-0;
}

.btn {
    border: none;
    background-color: $green900;
    color: $white;
    @extend %component-elements;
    @extend %component-size;
}

.btn:active {
    background-color: $grey200;
    color: $green900;
}

.reset {
    background-color: $green400;
    color: $green900;
    font-size: $fs-md;
    padding: $sp-2;
    text-transform: uppercase;
    width: 100%;
}   

// Output
#output-container {
    background-color: $green900;
    border-radius: $br-xl;
    font-size: $fs-xxl;
    gap: $sp-4;
    padding: $sp-5;
}

#output-text {
    color: $green400;
    gap: $sp-4;
    padding: $sp-3 $sp-0;
}

#output-text div {
    flex-direction: row;
    justify-content: space-between;
}

span {
    color: $grey400;
    font-size: $fs-xs;
}

#output-container label {
    color: $white;
    font-size: $fs-sm;
}


@media screen and (min-width: 48rem) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  main {
    border-bottom-left-radius: $sp-4;
    border-bottom-right-radius: $sp-4;
    padding: $sp-6 $sp-5;
    width: 57rem;
  }

  #calculator {
    display: flex;
    flex-direction: row;
    gap: $sp-6;
  }

  h1 {
    margin: 2rem;
  }

  #input-container {
    padding: $sp-3;
    width: 50%;
  }

  #output-container {
    width: 50%;
    padding: $sp-6;
    justify-content: space-between;
    font-size: $fs-xxl;
  }

  #grid-selection {
    grid-template-columns: repeat(3, 1fr);
  }

  .btn, input {
    cursor: pointer;
  }
}